# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary files - keep as-is
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.mp4 binary
*.opus binary
*.vcf binary
*.svg binary
*.ico binary
